<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All blogs</title>
</head>
<body>
    <h1>Teodor's blog</h1>
    <h2>There are {{ posts.count }} blog post{{ posts.count|pluralize}} written</h2>
    <br><br>
    {% for post in  posts %}
    <a href="{% url 'blog:detail' post.id %}"><h2>{{ post.title}} </h2></a>
    <p>{{ post.date|date:'M d Y'|upper }}</p>
    <p> {{ post.description|striptags|truncatechars:400}}</p>
    <p> {{ post.author}}</p>
    {% endfor %}
</body>
</html>